//fonts
@font-face {
  font-family: "Lovelo Black";
  src: url("fonts/LoveloBlack.woff");
}
@font-face {
  font-family: "Lovelo Line Bold";
  src: url("fonts/LoveloLineBold.woff");
}
@font-face {
  font-family: "Lovelo Line Light";
  src: url("fonts/LoveloLineLight.woff");
}
.lovelo-bold{
  font-family: "Lovelo Line Bold";
}
.lovelo-black{
  font-family: "Lovelo Black";
}
.lovelo-light{
  font-family: "Lovelo Line Light";
}

mark{
  background-color: inherit;
}
#navigation-wrapper{
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}

nav{
  ul{
    a{
      .logo-text{
        font-size: 1.5rem !important;
      }
    }
  }
}

.nav-text{
  font-size: 1.25rem !important;
}
#particles-js{
  width: 100% !important;
  height: 100vh !important;
  background-color: #b61924;
}
#particle-container{
  position:absolute;
  height: 100%;
  padding-top: 20vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0;
  background-color:rgba(255, 0, 0, 0.2);
  width: 100%;

  h1{
    text-align: center;
    font-size: 5.5em;
  }
  h3{
    text-align: center;
    font-size: 2em;
  }
  .leading-name{
    margin-top: 5vh;
  }
}


//////////////////AURORA SECTIOM
.aurora-outer {
  width: 100%;
  height: 100vh;
  padding: 30vh 5vw 5vw 10vh;
  background: linear-gradient(30deg, #ba0c2f 0%, #ba0c2f 50%, #a7a8aa 100%);
  background-size: 200%;
  animation: aurora 10s infinite;

  #aurora-inner{
    width: 100%;
    text-align: center;
    h3{
      margin: 0 !important;
    }
  }
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}

/////////////////////////////////LASER MARKET SECTION
#laser-market{
  padding-top:7.5vh;
}

///////////////////////// Target Businesses
#target-business{
  height: 100vh;
  overflow: hidden;
  padding: 2vh;
  #target-carousel{
    height: 80vh;
  }
}
.biz-name{
  margin-top: .2em !important;
}
.biz-text{

}

.biz-img{
  height:300px!important;
  width:400px !important;
  margin-bottom: 10px;
}

.carousel{
  visibility: visible !important;
}

.carousel-item{
  height: 80vh;
  visibility: visible !important;
}

//////////////////////////////////////// MEDIA QUERIES
@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px){
}
@media (max-width: 426px) {
}
